/*
 * Created by jub on 20.03.2019.
/*----------------------------------------------------------------
        Category List Styling
----------------------------------------------------------------*/
.cat_block {
    display: flex;
}

.cat {
    background: var(--color-main);
    height: auto;
    padding: var(--padding-category);
    border: 2px solid transparent;
    box-shadow: 0 0 20px 0 var(--color-shadow5);
    transition: box-shadow 500ms ease;
    margin-bottom: 10px;
}

.cat .links {
    display: flex;
    flex-wrap: wrap;
}

.cat:hover{
    border-top: 2px solid var(--color-selection);
    box-shadow: 0 0 25px 0 var(--color-shadow75);
    transition: border 500ms ease, box-shadow 500ms ease;
}

.cat_group{
    flex: 1 1 auto;
    margin: var(--margin-category);
}

.cat_group:first-child {
    margin-left: 0;
}

.cat_group:last-child {
    margin-right: 0;
}

.cat_select {
    border: 2px solid var(--color-selection);
    transition: border 500ms ease;
}

.catPreText {
    user-select: none;
}
